Repository oss-review-toolkit/ort-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cariad-optima/optima-core-team, @cariad-optima/optima-core-curators, @cariad-optima/Embitel

.github/CODEOWNERS:

* @cariad-optima/optima-core-team
cariad/ @cariad-optima/optima-core-curators
package-configurations/ @cariad-optima/optima-core-curators @cariad-optima/Embitel
curations/ @cariad-optima/optima-core-curators @cariad-optima/Embitel

chore: Rename tools/curations
  .github/workflows/verification.yml
  tools/config-helper/.gitignore
  tools/config-helper/README.md
  tools/config-helper/build.gradle.kts
  tools/config-helper/buildSrc/build.gradle.kts
  tools/config-helper/buildSrc/settings.gradle.kts
  tools/config-helper/buildSrc/src/main/kotlin/BaseGenerateCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateAspNetCoreCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateAwsSdkForNetCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateAzureSdkForNetCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateDotNetRuntimeCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateLicenseClassificationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/PathCurationData.kt
  tools/config-helper/buildSrc/src/main/kotlin/ScanCodeLicenseDbClassifications.kt
  tools/config-helper/buildSrc/src/main/kotlin/Utils.kt
  tools/config-helper/buildSrc/src/main/kotlin/VerifyPackageConfigurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/VerifyPackageCurationsTask.kt
  tools/config-helper/gradle/wrapper/gradle-wrapper.jar
  tools/config-helper/gradle/wrapper/gradle-wrapper.properties
  tools/config-helper/gradlew
  tools/config-helper/gradlew.bat
  tools/config-helper/settings.gradle.kts
Owners: @cariad-optima/optima-core-team

docs: Improve docs for clarity
  tools/config-helper/README.md
Owners: @cariad-optima/optima-core-team

feat: Allow version range package configurations
  tools/curations/buildSrc/src/main/kotlin/Utils.kt
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

chore: Rename tools/curations
  .github/workflows/verification.yml
  tools/config-helper/.gitignore
  tools/config-helper/README.md
  tools/config-helper/build.gradle.kts
  tools/config-helper/buildSrc/build.gradle.kts
  tools/config-helper/buildSrc/settings.gradle.kts
  tools/config-helper/buildSrc/src/main/kotlin/BaseGenerateCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateAspNetCoreCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateAwsSdkForNetCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateAzureSdkForNetCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateDotNetRuntimeCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateLicenseClassificationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/PathCurationData.kt
  tools/config-helper/buildSrc/src/main/kotlin/ScanCodeLicenseDbClassifications.kt
  tools/config-helper/buildSrc/src/main/kotlin/Utils.kt
  tools/config-helper/buildSrc/src/main/kotlin/VerifyPackageConfigurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/VerifyPackageCurationsTask.kt
  tools/config-helper/gradle/wrapper/gradle-wrapper.jar
  tools/config-helper/gradle/wrapper/gradle-wrapper.properties
  tools/config-helper/gradlew
  tools/config-helper/gradlew.bat
  tools/config-helper/settings.gradle.kts
Owners: @cariad-optima/optima-core-team

docs: Improve docs for clarity
  tools/config-helper/README.md
Owners: @cariad-optima/optima-core-team

Add curation for NPM package three version 0.181.2
  curations/NPM/_/three.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

docs: Improve docs for clarity
  tools/config-helper/README.md
Owners: @cariad-optima/optima-core-team

chore: Rename tools/curations
  .github/workflows/verification.yml
  tools/config-helper/.gitignore
  tools/config-helper/README.md
  tools/config-helper/build.gradle.kts
  tools/config-helper/buildSrc/build.gradle.kts
  tools/config-helper/buildSrc/settings.gradle.kts
  tools/config-helper/buildSrc/src/main/kotlin/BaseGenerateCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateAspNetCoreCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateAwsSdkForNetCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateAzureSdkForNetCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateDotNetRuntimeCurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/GenerateLicenseClassificationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/PathCurationData.kt
  tools/config-helper/buildSrc/src/main/kotlin/ScanCodeLicenseDbClassifications.kt
  tools/config-helper/buildSrc/src/main/kotlin/Utils.kt
  tools/config-helper/buildSrc/src/main/kotlin/VerifyPackageConfigurationsTask.kt
  tools/config-helper/buildSrc/src/main/kotlin/VerifyPackageCurationsTask.kt
  tools/config-helper/gradle/wrapper/gradle-wrapper.jar
  tools/config-helper/gradle/wrapper/gradle-wrapper.properties
  tools/config-helper/gradlew
  tools/config-helper/gradlew.bat
  tools/config-helper/settings.gradle.kts
Owners: @cariad-optima/optima-core-team

chore: Re-generate license classifications
  license-classifications.yml
Owners: @cariad-optima/optima-core-team

ci(renovate): Switch to the `pinGitHubActionDigestsToSemver` preset
  renovate.json
Owners: @cariad-optima/optima-core-team

feat(curations): Extend the version range for `python-dateutil`
  curations/PyPI/_/python-dateutil.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add various PyPI curations for "BSD License"
  curations/PyPI/_/contourpy.yml
  curations/PyPI/_/cssselect2.yml
  curations/PyPI/_/cycler.yml
  curations/PyPI/_/jinja2.yml
  curations/PyPI/_/kiwisolver.yml
  curations/PyPI/_/numpy.yml
  curations/PyPI/_/pandas.yml
  curations/PyPI/_/psycopg2.yml
  curations/PyPI/_/pydyf.yml
  curations/PyPI/_/sqlparse.yml
  curations/PyPI/_/tinycss2.yml
  curations/PyPI/_/weasyprint.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add various PyPI curations for "BSD License"
  curations/PyPI/_/contourpy.yml
  curations/PyPI/_/cssselect2.yml
  curations/PyPI/_/cycler.yml
  curations/PyPI/_/jinja2.yml
  curations/PyPI/_/kiwisolver.yml
  curations/PyPI/_/numpy.yml
  curations/PyPI/_/pandas.yml
  curations/PyPI/_/psycopg2.yml
  curations/PyPI/_/pydyf.yml
  curations/PyPI/_/sqlparse.yml
  curations/PyPI/_/tinycss2.yml
  curations/PyPI/_/weasyprint.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Extend the version range for `python-dateutil`
  curations/PyPI/_/python-dateutil.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

ci(renovate): Use the config preset from the .github repo
  renovate.json
Owners: @cariad-optima/optima-core-team

ci: Add a workflow to validate the Renovate config
  .github/workflows/renovate-validation.yml
Owners: @cariad-optima/optima-core-team

ci(renovate): Use the config preset from the .github repo
  renovate.json
Owners: @cariad-optima/optima-core-team

ci: Add a workflow to validate the Renovate config
  .github/workflows/renovate-validation.yml
Owners: @cariad-optima/optima-core-team

fix(text-templates): Re-align the notice templates with changes ORT
  text-templates/NOTICE_BY_PACKAGE.ftl
  text-templates/NOTICE_SUMMARY.ftl
Owners: @cariad-optima/optima-core-team

fix(text-templates): Re-align the notice templates with changes ORT
  text-templates/NOTICE_BY_PACKAGE.ftl
  text-templates/NOTICE_SUMMARY.ftl
Owners: @cariad-optima/optima-core-team

feat(rules): Add a rule for non-applicable package license choices
  evaluator.rules.kts
Owners: @cariad-optima/optima-core-team

feat(rules): Add a rule for non-applicable repository license choices
  evaluator.rules.kts
Owners: @cariad-optima/optima-core-team

feat(rules): Add how-to-fix-texts for the new license choice rules
  evaluator.rules.kts
Owners: @cariad-optima/optima-core-team

feat(rules): Add how-to-fix-texts for the new license choice rules
  evaluator.rules.kts
Owners: @cariad-optima/optima-core-team

feat(rules): Add a rule for non-applicable package license choices
  evaluator.rules.kts
Owners: @cariad-optima/optima-core-team

feat(rules): Add a rule for non-applicable repository license choices
  evaluator.rules.kts
Owners: @cariad-optima/optima-core-team

ci(github): Temporarily disable Renovate validation
  .github/workflows/renovate-validation.yml
Owners: @cariad-optima/optima-core-team

build(gradle): Use Java 25 for building
  .github/workflows/verification.yml
  build.gradle.kts
  gradle.properties
  gradle/gradle-daemon-jvm.properties
  settings.gradle.kts
  tools/curations/build.gradle.kts
  tools/curations/gradle.properties
  tools/curations/gradle/gradle-daemon-jvm.properties
  tools/curations/settings.gradle.kts
Owners: @cariad-optima/optima-core-team, @cariad-optima/optima-core-curators, @cariad-optima/Embitel

ci(github): Temporarily disable Renovate validation
  .github/workflows/renovate-validation.yml
Owners: @cariad-optima/optima-core-team

build(gradle): Use Java 25 for building
  .github/workflows/verification.yml
  build.gradle.kts
  gradle.properties
  gradle/gradle-daemon-jvm.properties
  settings.gradle.kts
  tools/curations/build.gradle.kts
  tools/curations/gradle.properties
  tools/curations/gradle/gradle-daemon-jvm.properties
  tools/curations/settings.gradle.kts
Owners: @cariad-optima/optima-core-team, @cariad-optima/optima-core-curators, @cariad-optima/Embitel

ci(github): Enable Renovate validation again
  .github/workflows/renovate-validation.yml
Owners: @cariad-optima/optima-core-team

feat(text-templates): Handle license text curations
  text-templates/NOTICE_BY_PACKAGE.ftl
Owners: @cariad-optima/optima-core-team

define a test curation
  license-text-curations/Native/_/lwip.yml
Owners: @cariad-optima/optima-core-team

feat(text-templates): Add third-party-notices template
  text-templates/THIRD-PARTY-NOTICES.txt.ftl
Owners: @cariad-optima/optima-core-team

feat(text-templates): Add success and failure views to CI run summary
  text-templates/ci-run-summary.md.ftl
Owners: @cariad-optima/optima-core-team

feat(text-templates): Add success and failure views to CI run summary
  text-templates/ci-run-summary.md.ftl
Owners: @cariad-optima/optima-core-team

chore: Re-generate license classifications
  license-classifications.yml
Owners: @cariad-optima/optima-core-team

feat(text-templates): Add SPDX Lite v2.3 CSV template
  text-templates/SPDX-Lite.csv.ftl
Owners: @cariad-optima/optima-core-team

feat(tools/curations): Avoid pkg configs with identical matchers
  tools/curations/buildSrc/src/main/kotlin/VerifyPackageConfigurationsTask.kt
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(tools/curations): Avoid pkg configs with identical matchers
  tools/curations/buildSrc/src/main/kotlin/VerifyPackageConfigurationsTask.kt
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel
