Repository oss-review-toolkit/ort-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cariad-optima/optima-core-team, @cariad-optima/optima-core-curators, @cariad-optima/Embitel

featL Proper placement for the Rated rule
  cariad/evaluator.rules.kts
Owners: @cariad-optima/optima-core-curators

feat(evaluator.rules): Improve the unmapped declared license rule
  evaluator.rules.kts
Owners: @cariad-optima/optima-core-team

chore: Re-generate license classifications
  license-classifications.yml
Owners: @cariad-optima/optima-core-team

Revert "chore: Extend the "listenablefuture" curation to version 1.0"
  curations/Maven/com.google.guava/listenablefuture.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

curations: Always quote the VCS `type`
  curations/NuGet/_/SharpSvn.1.9-x64.yml
  curations/NuGet/_/log4net.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

curations: Make the `comment` come first
  curations/Maven/com.h2database/h2.yml
  curations/Maven/org.jlleitschuh.gradle/ktlint-gradle.yml
  curations/Maven/org.unbroken-dome.gradle-plugins/gradle-testsets-plugin.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

curations: Always quote the `revision`
  curations/Maven/com.vladsch.flexmark/flexmark-all.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

curations: Always write the hash algorithm as "SHA-1"
  curations/Maven/antlr/antlr.yml
  curations/Maven/com.google.code.findbugs/jsr305.yml
  curations/Maven/xmlunit/xmlunit.yml
  curations/NuGet/_/DynamicDataDisplay.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

curations: Align `declared_license_mapping` indentation
  curations/Maven/org.antlr/antlr4-runtime.yml
  curations/Maven/org.antlr/antlr4.yml
  curations/Maven/org.codehaus.woodstox/stax2-api.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

curations: Quote the `declared_license_mapping` key for consistency
  curations/Maven/xmlunit/xmlunit.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS curation for Apache Xalan
  curations/Maven/xalan/xalan.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

deps: Upgrade to Gradle 9.0.0 RC1 for Kotlin support in `buildSrc`
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  tools/curations/gradle/wrapper/gradle-wrapper.jar
  tools/curations/gradle/wrapper/gradle-wrapper.properties
  tools/curations/gradlew
Owners: @cariad-optima/optima-core-team, @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix(gradle): Include the `io.atlassian` repository
  build.gradle.kts
Owners: @cariad-optima/optima-core-team

build(gradle): Migrate to the ORT version catalog
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  tools/curations/buildSrc/build.gradle.kts
  tools/curations/buildSrc/settings.gradle.kts
  tools/curations/gradle/libs.versions.toml
Owners: @cariad-optima/optima-core-team, @cariad-optima/optima-core-curators, @cariad-optima/Embitel

chore(curations): Log failures from getting or parsing license details
  tools/curations/buildSrc/src/main/kotlin/ScanCodeLicenseDbClassifications.kt
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix(curations): Add the new property `LicenseDetails.replacedBy`
  tools/curations/buildSrc/src/main/kotlin/ScanCodeLicenseDbClassifications.kt
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

chore(curations): Stop using the deprecated `URL` constructor
  tools/curations/buildSrc/src/main/kotlin/ScanCodeLicenseDbClassifications.kt
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

chore: Re-generate license classifications
  license-classifications.yml
Owners: @cariad-optima/optima-core-team

feat(curations): Add a VCS curation for jridgewell.sourcemap-codec
  curations/NPM/%40jridgewell/sourcemap-codec.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS curation for NPM::fastest-levenshtein
  curations/NPM/_/fastest-levenshtein.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS curation for NPM::chrome-trace-event
  curations/NPM/_/chrome-trace-event.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS curation for lit
  curations/NPM/_/lit.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS curation for NPM::meshoptimizer
  curations/NPM/_/meshoptimizer.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS curation for NPM::three
  curations/NPM/_/three.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Improve telling that ANTLR has no VCS location
  curations/Maven/antlr/antlr.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

chore: Re-generate license classifications
  license-classifications.yml
Owners: @cariad-optima/optima-core-team

feat(curations): Add a VCS curation for `NPM::three:0.178.0`
  curations/NPM/_/three.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS path curation for `NPM::lit:`
  curations/NPM/_/lit.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS curation for "Pod::RNVectorIcons:10.3.0"
  curations/Pod/_/RNVectorIcons.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS curation for "Pod::RNFastImage:[v8.6.11,)"
  curations/Pod/_/RNFastImage.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a VCS curation for a Logicwind React-Native package
  curations/Pod/_/logicwind-react-native-matomo-tracker.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Fix the VCS URL for `github.com/lyft/protoc-gen-validate`
  curations/Go/_/github.com%2Flyft%2Fprotoc-gen-validate.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

refactor: Align with `licenseSource` having changed to a `Set`
  evaluator.rules.kts
Owners: @cariad-optima/optima-core-team

feat(rules): Illustrate how to run a rule for all license sources once
  evaluator.rules.kts
Owners: @cariad-optima/optima-core-team

feat(curations): Add license mappings for Sonatype libraries
  curations/Maven/org.sonatype.goodies/package-url-java.yml
  curations/Maven/org.sonatype.ossindex/ossindex-service-api.yml
  curations/Maven/org.sonatype.ossindex/ossindex-service-bom.yml
  curations/Maven/org.sonatype.ossindex/ossindex-service-client.yml
  curations/Maven/org.sonatype.ossindex/ossindex-service.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(curations): Add a mapping for a "GNU LPGL 3" typo
  curations/Maven/org.sonarsource.scanner.gradle/sonarqube-gradle-plugin.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

Add curation for Maven_jaxen:jaxen:1.1.4
  curations/Maven/jaxen/jaxen.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

chore(tools/curations): Move `hasVersionRangeIndicators()` to Utils
  tools/curations/buildSrc/src/main/kotlin/Utils.kt
  tools/curations/buildSrc/src/main/kotlin/VerifyPackageCurationsTask.kt
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat(tool/curations): Add range check for package configs
  tools/curations/buildSrc/src/main/kotlin/VerifyPackageConfigurationsTask.kt
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: Allow version range package configurations
  tools/curations/buildSrc/src/main/kotlin/Utils.kt
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

.github/CODEOWNERS:

* @cariad-optima/optima-core-team
cariad/ @cariad-optima/optima-core-curators
package-configurations/ @cariad-optima/optima-core-curators @cariad-optima/Embitel
curations/ @cariad-optima/optima-core-curators @cariad-optima/Embitel
