Repository oss-review-toolkit/ort-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cariad-optima/optima-core-team, @cariad-optima/optima-core-curators, @cariad-optima/Embitel

.github/CODEOWNERS:

* @cariad-optima/optima-core-team
cariad/ @cariad-optima/optima-core-curators
package-configurations/ @cariad-optima/optima-core-curators @cariad-optima/Embitel
curations/ @cariad-optima/optima-core-curators @cariad-optima/Embitel

feat: classification_update_2025-02-28
  cariad/license-classifications.yml
Owners: @cariad-optima/optima-core-curators

feat: classification_update_2025-03-03
  cariad/license-classifications.yml
Owners: @cariad-optima/optima-core-curators

feat: OSS-2965 Maven:com.google.firebase:firebase-measurement-connector:19.0.0 curation file added
  curations/Maven/com.google.firebase/com.google.firebase/firebase-measurement-connector.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: Rename curations/Maven/com.google.firebase/com.google.firebase/firebase-iid-interop.yml to curations/Maven/com.google.firebase/firebase-iid-interop.yml
  curations/Maven/com.google.firebase/firebase-iid-interop.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-2951, OSS-2955, OSS-2961, OSS-4299 Maven:com.google.android.gms:play-services-tasks:18.2.0, 18.0.1, 16.0.1, 18.0.2 curation file updated
  curations/Maven/com.google.android.gms/play-services-tasks.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-2969 Maven:com.google.firebase:firebase-iid-interop:17.1.0 curation file added
  curations/Maven/com.google.firebase/com.google.firebase/firebase-iid-interop.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-2953 Maven:com.google.android.gms:play-services-maps:19.0.0" curation file updated
  curations/Maven/com.google.android.gms/play-services-maps.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: Rename curations/Maven/com.google.firebase/com.google.firebase/firebase-measurement-connector.yml to curations/Maven/com.google.firebase/firebase-measurement-connector.yml
  curations/Maven/com.google.firebase/firebase-measurement-connector.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-2957, OSS-2959, OSS-4295 Maven:com.google.android.gms:play-services-base:18.5.0, 18.0.1, 18.1.0 curation file updated
  curations/Maven/com.google.android.gms/play-services-base.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-2949 Maven:com.google.android.odml:image:1.0.0-beta1 curation file added
  curations/Maven/com.google.android.odml/image.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-2967, OSS-4297 Maven:com.google.android.gms:play-services-basement:18.4.0, 18.1.0 curation file updated
  curations/Maven/com.google.android.gms/play-services-basement.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-2963 Maven:com.google.android.gms:play-services-location:21.3.0 curation file updated
  curations/Maven/com.google.android.gms/play-services-location.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

refactor: Add not rated rule
  .gitignore
  cariad/client-config.yml
  cariad/evaluator.rules.kts
Owners: @cariad-optima/optima-core-team, @cariad-optima/optima-core-curators

feat: classification_update_2025-03-04
  cariad/license-classifications.yml
Owners: @cariad-optima/optima-core-curators

fix: OSS-1270 PyPI::flake8-builtins:2.5.0 updated curation file
  package-configurations/PyPI/_/flake8-builtins/2.5.0/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-1228 PyPI::python-sonarqube-api:2.0.5 updated curation file
  package-configurations/PyPI/_/python-sonarqube-api/2.0.5/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-1633 PyPI::license-expression:30.4.1 updated curation file
  package-configurations/PyPI/_/license-expression/30.4.1/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-1405 PyPI::pylint:3.3.1 updated curation file
  package-configurations/PyPI/_/pylint/3.3.1/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-650 PyPI::python-dateutil:2.9.0.post0 updated curation file
  package-configurations/PyPI/_/python-dateutil/2.9.0.post0/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-1245 PyPI::cyclonedx-python-lib:7.6.2 updated curation file
  package-configurations/PyPI/_/cyclonedx-python-lib/7.6.2/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: Swift::github.com/swiftlang/swift-syntax:510.0.3 curation file updated
  package-configurations/Swift/_/github.com%2Fswiftlang%2Fswift-syntax/510.0.3/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fea: OSS-3530 Swift::github.com/apple/swift-nio-ssl:2.29.3 curation file added
  package-configurations/Swift/_/github.com%2Fapple%2Fswift-nio-ssl/2.29.1/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

Update curations.yml
  curations/Swift/github.com%2Fapple%2Fswift-nio-ssl/2.29.1/curations.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-2683 Swift::github.com/apple/swift-nio:2.80.0 curation file added
  package-configurations/Swift/_/github.com%2Fapple%2Fswift-nio/2.80.0/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-6294 Swift::github.com/apple/swift-numerics:1.0.3 curation file added
  package-configurations/Swift/_/github.com%2Fapple%2Fswift-numerics/1.0.3/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-6292 Swift::github.com/apple/swift-system:1.4.2 curation file added.
  package-configurations/Swift/_/github.com%2Fapple%2Fswift-system/1.4.2/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-240 Swift::github.com/swiftlang/swift-syntax:510.0.3 curation file updated
  package-configurations/Swift/_/github.com%2Fgrpc%2Fgrpc-swift/1.24.2/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-252 Swift::github.com/flight-school/anycodable:0.6.7 curation file updated
  package-configurations/Swift/_/github.com%2Fflight-school%2Fanycodable/0.6.7/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-2686 Swift::github.com/vwdfive/volkswagenui-ios:6.2.0 curation file added
  package-configurations/Swift/_/github.com%2Fvwdfive%2Fvolkswagenui-ios/6.2.0/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-3530 Swift::github.com/apple/swift-nio-ssl:2.29.3 curation file added in curations folder for complete package.
  curations/Swift/github.com%2Fapple%2Fswift-nio-ssl/2.29.1/curations.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

Delete curations/Swift/github.com%2Fapple%2Fswift-nio-ssl/2.29.1/curations.yml
  curations/Swift/github.com%2Fapple%2Fswift-nio-ssl/2.29.1/curations.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-3535 Swift::github.com/vwdfive/volkswagenui-ios:6.3.0 curation file updated
  package-configurations/Swift/_/github.com%2Fvwdfive%2Fvolkswagenui-ios/6.3.0/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-260 Swift::github.com/vwdfive/contoworks-ios:8.0.1 curation file updated
  package-configurations/Swift/_/github.com%2Fapple%2Fswift-http-types/1.3.1/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-230 Swift::github.com/open-telemetry/opentelemetry-swift:1.10.1 curation file updated
  package-configurations/Swift/_/github.com%2Fopen-telemetry%2Fopentelemetry-swift/1.10.1/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-6296 Swift::github.com/vwdfive/volkswagenui-ios:7.1.0 curation file added
  package-configurations/Swift/_/github.com%2Fvwdfive%2Fvolkswagenui-ios/7.1.0/vcs.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-30 Maven:org.glassfish.jaxb:jaxb-core:4.0.5 curation file added
  package-configurations/Maven/org.glassfish.jaxb/jaxb-core/4.0.5/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

fix: OSS-965 PyPI::pandas:2.2.3 updated curation file
  package-configurations/PyPI/_/pandas/2.2.3/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-1829 Maven:org.junit.jupiter:junit-jupiter-engine:5.11.4 curation file added
  package-configurations/Maven/org.junit.jupiter/junit-jupiter-engine/5.11.4/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-95 Maven:org.yaml:snakeyaml:2.3 curation file added
  package-configurations/Maven/org.yaml/snakeyaml/2.3/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel

feat: OSS-1851 PyPI::numpy:2.2.3 curation file added
  package-configurations/PyPI/_/numpy/2.2.3/source-artifact.yml
Owners: @cariad-optima/optima-core-curators, @cariad-optima/Embitel
